{% extends 'base.html' %}
{% block content %}
    <h1>Cat index</h1>
    <a href="/cats/create">Add a new cat</a>
    <hr />
    {% for cat in cats %}
        <a href="/cats/{{ cat.id }}/">
            <p>Name: {{ cat.name }}</p>
        </a>
        <a href="/user/{{ cat.user }}">
            <p>Rescued by: {{ cat.user.username }}</p>
        </a>
            {% if cat.age > 0 %}
                <p>Age: {{ cat.age }}</p>
            {% else %}
                <p>Age: Kitten</p>
            {% endif %}
        <hr />
    {% endfor %}
{% endblock %}